
@{
    ViewBag.Title = "Importitem";
    Layout = "~/Views/Shared/ideal.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .button {
            background-color: blue;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
        }


        #imort {
            background-color: blue;
            border: none;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
        }


label{
  color: blue;
  cursor: pointer;
}

label:hover{
  text-decoration: underline;
}

#file_input_id{
  display:none;
}

    </style>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>

$(document).ready(function(){
    $('#imort').click(function () {

        // Checking whether FormData is available in browser
        debugger
        if (window.FormData !== undefined) {

            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('username', ‘Manas’);

            $.ajax({
                url: '/Utilities/DownloadFile',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    alert(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });
});
    </script>*@  
</head>
<body>
    @using (Html.BeginForm("Importitem1", "Utilities", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel panel-primary container" style="width:100%">
            <div class="panel-heading text-center"><h4 style="margin-top:-4px;">Import Item</h4></div>
            <div class="panel border-box">
                <nav class="navbar navbar-default " style="background-color:white;border:none">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse ">
                            <div class="row">
                                <div class="form-group col-md-5">                                    <br />
                                    <div style="height:450px;border:2px solid;text-align:center">
                                        <br /><br />
                                        <h3>Import Excel </h3><br />
                                        <h4>
                                            Download .xls/xslx(Excel Sheet)<br />
                                                                                    Templet File to enter Data
                                        </h4><br />

                                        @*<img src="~/bower_components/bootstrap/dist/fonts/excel.png" style="width:100px;height:50px" />*@

                                        <img src="~/bower_components/bootstrap/dist/fonts/excel (1).png" />
                                        <br />
                                        <br />
                                       
                                        <input type="button" onclick="location.href='@Url.Action("DownloadFile", "Utilities")'"class="button" value="Download">
                              
                                    </div>
                                </div>
                                <div class="form-group col-md-7">
                                    <br />
                                    <div style="height:450px;border:2px solid; text-align:center">

                                        <h4>Upload Your .xls/xlsx(Excel Sheet)</h4>

                                      
                                            <br />
                                            <br /><img src="~/bower_components/bootstrap/dist/fonts/upload (1).png" />
                                            <br /><br /><br />
                                            <h4>Drag and Drop or<label for="file_input_id"> Click Here To Browser </label><br> Formmeted Excel File to Continue</h4>
                                       
                               
                                        <input type="file" id="file_input_id" name="file">
                                       
                                        <br />
                                        <br />
                                 
                                        <br />
                                   
                                         <input type="submit" class="button" value="Import" id="imort">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    }
   
</body>
</html>

