@using Stimulsoft.Report.Mvc;
@{
    ViewBag.Title = "ReportAll";
    Layout = "~/Views/Shared/ideal.cshtml";
}

<h2>All Sale Invoice </h2>

@Html.Stimulsoft().StiMvcViewer("MvcViewer1", new StiMvcViewerOptions()
{
    Actions =
            {
                GetReport = "GetReport1",
                ViewerEvent = "ViewerEvent1"
            }
})