@using Stimulsoft.Report.Mvc;
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/ideal.cshtml";
}
<p>
<a class="btn btn-info pull-left row" style="margin-top:12.5px;margin-left:20px;" href="@Url.Action("SaleInvoice","SaleInvoice")"><i class="fa fa-plus"></i>Back to List</a>
    </p>
<br />
@Html.Stimulsoft().StiMvcViewer("MvcViewer1", new StiMvcViewerOptions()
{

    Actions =
            {
        GetReport = "GetReport",
                ViewerEvent = "ViewerEvent"
            }

})
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />