
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ideal.cshtml";
}

<nav class="navbar navbar-default " style="border:none; background-color:white; height:100%; width:100%">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <br>
           <img src="~/bower_components/dist/img/credit/2.jpg" alt="Alternate Text" style="height:550px; width:100%" />
            
        </div>
        <br>    
    </div>
</nav>
