@model SalesAndInentoryWeb_Application.tbl_CompanyMaster

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reg</title>
</head>
<body>
    
   <div style="text-align:center">
       <label>Password :</label><br />
       <input type="text" class="form-control" />   
   </div>



    
</body>
</html>
