@model  SalesAndInentoryWeb_Application.tbl_CashAdjustment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ideal.cshtml";

}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container" style="height:100%; width:100%;">
   

    <nav class="navbar navbar-default " style="border:none; background-color:white">
        <br />
        <nav class="navbar navbar-default " style="border:none; background-color:white;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse ">
                    <label class="pull-left" style="margin-left:18px; color:blue; margin-top:-12.5px;"><h3>Loan Statment</h3></label>

                    <a class="btn btn-success pull-right row" style="margin-top:6.5px;margin-right:1px;"><i class="glyphicon glyphicon-print"></i>Print</a>
                    @Html.DropDownListFor(model => model.ID, Model.ListOfAccounts, "Select Account", new { @class = "form-control pull right row" ,@style = "height:34px;width:150px; margin-top:6.5px;margin-rigth:20px; "})

                    <select class="pull-right row" style="height:34px;width:150px;">
                        <option>--All Firms--</option>
                        <option>Ideal tech Info</option>
                        <option>tata byby</option>
                    </select>





                    @*<Select class="pull-right row" name="compantname" style="height:34px; margin-top:6.5px;margin-right:22px; " />
                   <option></option>
                     </select>*@
                    @*<label class="pull-right" style="margin-top:12.5px;margin-right:34px;">To</label>
                    @*
                        @*<input type="date" class="pull-right row" name="To" style="height:34px; margin-top:6.5px;margin-right:25px; " />*@
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="collapse navbar-collapse ">
                <table id="purchaseorder1" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>LoanAmount</th>
                            <th>CurrentBal</th>
                            <th>Interest</th>
                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </nav>
        <nav class="navbar navbar-default "style="border:none; background-color:white">
            <div class="container-fluid">
                <div class="collapse navbar-collapse ">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="lname">Opening Bal:</label>
                            <input type="text" id="OpeningBal" name="lname">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="lname">Balance Due:</label>
                            <input type="text" id="BalanceDue" name="lname">
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="lname">Total Principal Paid:</label>
                                <input type="text" id="TotalPrincipalPaid" name="lname">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="lname">Total Intrest Paid:</label>
                                <input type="text" id="TotalIntrestPaid" name="lname">
                            </div>
                         </div>
                        </div>
                </div>
            </div>
        </nav>
</div>
<br/>
<br/>
<br/>
<br/>
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
@section scripts{
    <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/DataTables/dataTables.bootstrap.min.js"></script>

    <script>
                     var Popup, dataTable;

                     $(document).ready(function () {
            dataTable = $("#purchaseorder1").DataTable({
                "ajax": {

                    "url": "/LoanAccount/makykdata",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID" },
                    { "data": "LoanAmount" },
					{ "data": "CurrentBal" },
					{ "data": "Interest" },
                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });

        function getval(sal)
        {

         
                dataTable = $("#purchaseorder1").DataTable({
                    "ajax": {                     
                        "url": "/LoanAccount/makykdata1("+sal.value+")",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "ID" },
                        { "data": "LoanAmount" },
                        { "data": "CurrentBal" },
                        { "data": "Interest" },
                   

                        { "data":"ID", "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit", "ParchaseOrder")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete</a>";
                        },
                            "orderable": false,
                            "searchable":false,
                            "width":"150px"
                        }

                    ],
                    "language": {

                        "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                    }
                });
       
        }


                    function PopupForm(url) {
                        var formDiv = $('<div/>');
                        $.get(url)
                        .done(function (response) {
                            formDiv.html(response);

                            Popup = formDiv.dialog({
                                autoOpen: true,
                                resizable: false,
                                title: 'Fill Bank Details',
                                height: 500,
                                width: 700,
                                close: function () {
                                    Popup.dialog('destroy').remove();
                                }

                            });
                        });
                    }

                    function SubmitForm(form) {
                        $.validator.unobtrusive.parse(form);
                        if($(form).valid()){
                            $.ajax({
                                type : "POST",
                                url : form.action,
                                data : $(form).serialize(),
                                success : function (data) {
                                    if(data.success)
                                    {
                                        Popup.dialog('close');
                                        dataTable.ajax.reload();

                                        $.notify(data.message,{
                                            globalPosition :"top center",
                                            className : "success"
                                        })

                                    }
                                }
                            });
                        }
                        return false;
                    }

                    function Delete(id) {
                        if(confirm('Are You Sure to Delete this Employee Record ?'))
                        {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("Dele", "ParchaseOrder")/' + id,
                                success: function (data) {
                                    if (data.success)
                                    {
                                        dataTable.ajax.reload();

                                        $.notify(data.message, {
                                            globalPosition: "top center",
                                            className: "success"
                                        })

                                    }
                                }

                            });
                        }
                    }
    </script>
}







