@using Stimulsoft.Report.Mvc;
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/ideal.cshtml";
}

<p>
<a class="btn btn-primary pull-left row" style="margin-top:6.5px; margin-right:1px" href="@Url.Action("AddOrEdit","SaleOrder")"><i class="fa fa-plus"></i>Add SaleOrder</a>
</p>
@Html.Stimulsoft().StiMvcViewer("MvcViewer1", new StiMvcViewerOptions()
{
    Actions =
            {
                GetReport = "GetReport",
                ViewerEvent = "ViewerEvent"
            }
})
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />