@model  SalesAndInentoryWeb_Application.Models.tbl_CashAdjustment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ideal.cshtml";

}

<div class="container" style="height:100%; width:100%;">
    <nav class="navbar navbar-default " style="background-color:white">
        <nav class="navbar navbar-default " style="background-color:white;height:60px; border:none">
            <div class="container-fluid">
                <div class="collapse navbar-collapse ">
                    <label class="pull-left" style="margin-left:18px; color:blue; margin-top:-4.5px;"><h3>Profit And Loss Report</h3></label>
                    <a class="btn btn-success pull-right row" style="margin-top:7px; margin-right:21px;" href="@Url.Action("Report","ProfitAndLoss")"><i class="fa fa-print"></i>Print</a>
                    <input type="date" class="pull-right row" name="To" style="height:34px; margin-top:6.5px;margin-right:25px; " id="todate" />
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="collapse navbar-collapse ">
                <table id="cash" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Table Name</th>
                            <th>Invoice Date</th>
                            <th>Profit Or Loss</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </nav>
   
</div>
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
@section scripts{
    <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable =  $("#cash").DataTable({
                "ajax": {
                    "url": "/ProfitAndLoss/Data",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Type" },
                    { "data": "Date" },
                    { "data": "ProfitOrLoss" },

                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });

            $("#todate").change(function () {
                var table1 = $('#cash').DataTable();
                table1.destroy();
                var date = $("#todate").val();
                dataTable1 = $("#cash").DataTable({
                    "ajax": {
                        "url": "/ProfitAndLoss/Data",
                        data: { 'date': date ,'par':'0'},

                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                          { "data": "Type" },
                    { "data": "Date" },
                    { "data": "ProfitOrLoss" },
                    ],
                    "language": {

                        "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                    }
                });
            });
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = year + "-" + month + "-" + day;
            $("#todate").attr("value", today);
            $("#fromdate").attr("value", today);
        });

       
    </script>
}


