@model  SalesAndInentoryWeb_Application.Models.tbl_CashAdjustment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ideal.cshtml";

}

<div class="container" style="height:100%; width:100%;">
    <nav class="navbar navbar-default " style="background-color:white">
        <nav class="navbar navbar-default " style="background-color:white;height:60px; border:none">
            <div class="container-fluid">
                <div class="collapse navbar-collapse ">
                    <label class="pull-left" style="margin-left:18px; color:blue; margin-top:-4.5px;"><h3>Sale Purchase Party Group Report</h3></label>
                    <a class="btn btn-success pull-right row" style="margin-top:7px; margin-right:21px;"  href="@Url.Action("Report","SPPartyGroup")"><i class="fa fa-print"></i>Print</a>
                    <select name="cars" id="PaymentType" class="form-control" style="width:150px;">
                        <option value="Party Group">Cash</option>
                        <option value="OnlinePayment">Online Payment</option>
                        <option value="Chuque">Cheque</option>
                    </select>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="collapse navbar-collapse ">
                <table id="cash" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Item Name</th>
                            <th>Qty</th>
                            <th>Item Amount</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </nav>

</div>
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
@section scripts{
    <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable =  $("#cash").DataTable({
                "ajax": {
                    "url": "/SPPartyGroup/Data",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "TableName" },
                    { "data": "ItemName" },
                    { "data": "Qty" },
                    { "data": "ItemAmount" },
                  
                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });

       
    </script>
}


