
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    <div class="panel panel-primary container" style="height:700px; width:500px;">
        <div class="panel border-box" style="height:700px; width:500px;">
            <nav class="navbar navbar-default ">
                <div class="container-fluid" style="height:600px; width:500px; background-color:gray;margin-top:60px;margin-left:300px">
                    
                 </div>
                <div style="height:600px; width:500px; background-color:gray;margin-top:60px;margin-left:600px">
                  
                </div>
                </nav>
           
            </div>
        </div>
        </div>
</body>
</html>
