@model SalesAndInentoryWeb_Application.tbl_DebitNote
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ideal.cshtml";

}
<div class="container" style="height:100%; width:100%;">
    <nav class="navbar navbar-default " style="background-color:white">
        <nav class="navbar navbar-default " style="background-color:white;height:60px; border:none">
            <div class="container-fluid">
                <div class="collapse navbar-collapse ">
                    <label class="pull-left" style="margin-left:18px; color:blue; margin-top:-4.5px;"><h3>Item Report By Party</h3></label>
                    <a class="btn btn-success pull-right row" style="margin-top:7px; margin-right:21px;" href="@Url.Action("Report","ItemReportByParty")"><i class="fa fa-print"></i>Print</a>
                    @Html.DropDownListFor(model => model.PartiesID, Model.ListOfParties as IEnumerable<SelectListItem>, "Select Parties", new { @class = "form-control", @style = "Width:180px;margin-left:850px;margin-top:6.5px;" })
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="collapse navbar-collapse ">
                <table id="cash" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Party Name</th>
                            <th>Item Name</th>
                            <th>Qty</th>
                            <th>Item Amount</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </nav>
    
</div>
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
@section scripts{
    <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable =  $("#cash").DataTable({
                "ajax": {
                    "url": "/ItemReportByParty/Data",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "TableName" },
                    { "data": "PartyName" },
                    { "data": "ItemName" },
                    { "data": "Qty" },
                     { "data": "ItemAmount" },
                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
            $("#PartiesID").change(function () {
                var table1 = $('#cash').DataTable();
                table1.destroy();
                var date = $("#PartiesID option:selected").val();
                dataTable = $("#cash").DataTable({
                    "ajax": {
                        "url": "/ItemReportByParty/Data",
                        data: { 'paymenttype': date, 'par': '0' },
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                         { "data": "TableName" },
                    { "data": "PartyName" },
                    { "data": "ItemName" },
                    { "data": "Qty" },
                     { "data": "ItemAmount" },
                    ],
                    "language": {

                        "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                    }
                });
            });
        });
    </script>
}


