@model  SalesAndInentoryWeb_Application.Models.tbl_CashAdjustment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ideal.cshtml";

}
<div class="container" style="height:100%; width:100%;">
    <nav class="navbar navbar-default " style="background-color:white">
        <nav class="navbar navbar-default " style="background-color:white;height:60px; border:none">
            <div class="container-fluid">
                <div class="collapse navbar-collapse ">
                    <label class="pull-left" style="margin-left:18px; color:blue; margin-top:-4.5px;"><h3>Tax Report</h3></label>
                    <a class="btn btn-success pull-right row" style="margin-top:7px; margin-right:21px;"  href="@Url.Action("Report","TaxReport")"><i class="fa fa-print"></i>Print</a>
                    <input type="text" class="pull-right row" style="height:34px; margin-top:6.5px;margin-right:25px; " placeholder="Party Name" />
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="collapse navbar-collapse ">
                <table id="cash" class="table table-striped table-bordered" style="width:100%; background-color:white;">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Party Name</th>
                            <th>Tax Amount Show</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="form-group col-md-2" style="margin-left:835px;">
            <label for="lname">Total Tax In:</label>
            <input type="text" id="taxin" name="lname">
        </div>
        <div class="form-group col-md-2">
            <label for="lname">Total Tax Out:</label>
            <input type="text" id="texout" name="lname">
        </div>
    </div>
</div>
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
@section scripts{
    <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable =  $("#cash").DataTable({
                "ajax": {
                    "url": "/TaxReport/Data",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Type" },
                    { "data": "PartyName" },
                    { "data": "TaxShow" },
                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });      
    </script>
}


